

.box{
    height: 300px;
    width: 200px;
    background-color: black  ;
    border: 10px solid royalblue;
    border-width: 10px,20px,30px,10px;
}

.box{
    height: 300px;
    width: 200px;
    background-color: black  ;
    border: 10px dashed royalblue;

}

.box{
    height: 300px;
    width: 200px;
    background-color: black  ;
    border: 10px dotted royalblue;
}
