
.box{
    height: 200px;
    width: 200px;
    background-color:hsla(28, 100%, 50%, 0.7);

}

.box{
    height: 200px;
    width: 200px;
    background-color:#00CC22;
    
}

.box{
    height: 200px;
    width: 200px;
    background-color:rgb(0,204,34)
    
}
