.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(2,100px)  ;
    border: 2px solid greenyellow;
   

}
    
.box{
    height: 6rem;
    width: 6rem;
    background-color: darkolivegreen;
}