p::first-letter{
    font-weight: bold;
    font-style: italic;
}

p::first-line{

    font-weight: bold;
}

::selection{
    background-color: darkgreen;
    
}

p::before{
    content: "...";
    dispaly: block;
}

p::after{
    content: "...";
    dispaly: block;
}
