/* article p:first-of-type {
    color: red;
}  */

 /* article p:last-of-type {
     font-weight: bold;
} */

/* ul li:nth-child(even){
    color: palevioletred;
} */

/* a:visited{
    color: green; 
} */

/* a:hover{
    color:red;

} */

/* a:active{
    color:blueviolet
} */

a:focus{
    background-color: yellow;
} 