/* p::first-letter{
    font-size: 120%;
    font-weight: bolder;
}  */

/* p::first-line{
  color: brown;
} */

/* ::selection{
   
    color:yellow
} */

/* ::before{
    content:"...";
    display: block;
} */

/* ::after{
    content:"...";
   
}  */