p::first-letter{
    font-size: 120%;
    font-weight: bolder;
}

p::first-line{
  color: brown;
}

::selection{
   
    color:bisque
}

::before{
    content:"...";
    display: block;
}

::after{
    content:"...";
   
}